

.wrapper{
  display: flex;
  flex-direction: row;
}

.question-container, .options-container{
  width: 50%;
}

.question-text{
   font-size: 2em;
}

  .options-container{
    text-transform: uppercase;
    flex-direction: column;
  }
  .options-heading{
    margin-bottom: 1em;
  }

  .options-list{
    list-style: none;
    min-width: 100%;
  }
  .option {
    padding: 1rem;
    border: 2px solid rgb(207, 196, 196);
    margin-bottom: 1rem;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  .question-counter{
    color: rgb(107, 107, 107);
    font-size: 1.15;
  }

  @media screen and (max-width: 47em) {
    .question-card{
        flex-direction: column;
        gap: 3em;
    }
    .quesiton-container, .options-container{
        width: 100%;
}
  }
  

  .active{
    background: teal;
    color: white;
  }